In [66]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [53]:
df = pd.read_csv('./Dataset/salaries.csv')

print(df.shape)
df.head()

(16, 4)

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [31]:
X = df.iloc[:,:-1]
Y = df.iloc[:,[-1]]

In [43]:
le = LabelEncoder()
df1 = df.apply(le.fit_transform)
df1.head()

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0

In [54]:
# df1.apply(le.inverse_transform)

In [65]:
df1 = pd.DataFrame()
label_object = {}
categorical_columns = df.columns
for col in categorical_columns:
    labelencoder = LabelEncoder()
    labelencoder.fit(df[col])
    df1[col] = labelencoder.fit_transform(df[col])
    label_object[col] = labelencoder
# label_object['job'].inverse_transform(df1['job'])
df2.head()

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0

In [69]:
X = df1.iloc[:,:-1]
Y = df1.iloc[:,[-1]]

In [70]:
model = tree.DecisionTreeClassifier()
model.fit(X,Y)

DecisionTreeClassifier()

In [72]:
model.score(X,Y)

1.0

In [73]:
model.predict([[2,2,1]])

array([0], dtype=int64)