In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split

In [2]:
file_path_data = "./breast-cancer-wisconsin.data"
df = pd.read_csv(file_path_data, delimiter=",")
df.columns = ['id', 'Clump-Thickness', 'Uniformity-Cell-Size', 'Uniformity-Cell-Shape', 'Marginal-Adhesion', 'Single-Epithelial-Cell-Size', 'Bare-Nuclei', 'Bland Chromatin', 'Normal-Nucleoli', 'Mitoses', 'Class']
df

,id,Clump-Thickness,Uniformity-Cell-Size,Uniformity-Cell-Shape,Marginal-Adhesion,Single-Epithelial-Cell-Size,Bare-Nuclei,Bland Chromatin,Normal-Nucleoli,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...,...
693,776715,3,1,1,1,3,2,1,1,1,2
694,841769,2,1,1,1,2,1,1,1,1,2
695,888820,5,10,10,3,7,3,8,10,2,4
696,897471,4,8,6,4,3,4,10,6,1,4
697,897471,4,8,8,5,4,5,10,4,1,4

In [3]:
for col in df:
    print(col)
    print(df[col].unique())
    print("")
df.isin(['?']).any()

id
[ 1002945  1015425  1016277  1017023  1017122  1018099  1018561  1033078
  1035283  1036172  1041801  1043999  1044572  1047630  1048672  1049815
  1050670  1050718  1054590  1054593  1056784  1057013  1059552  1065726
  1066373  1066979  1067444  1070935  1071760  1072179  1074610  1075123
  1079304  1080185  1081791  1084584  1091262  1096800  1099510  1100524
  1102573  1103608  1103722  1105257  1105524  1106095  1106829  1108370
  1108449  1110102  1110503  1110524  1111249  1112209  1113038  1113483
  1113906  1115282  1115293  1116116  1116132  1116192  1116998  1117152
  1118039  1120559  1121732  1121919  1123061  1124651  1125035  1126417
  1131294  1132347  1133041  1133136  1136142  1137156  1143978  1147044
  1147699  1147748  1148278  1148873  1152331  1155546  1156272  1156948
  1157734  1158247  1160476  1164066  1165297  1165790  1165926  1166630
  1166654  1167439  1167471  1168359  1168736  1169049  1170419  1170420
  1171710  1171795  1171845  1172152  1173216  1173235  1173347  1173509
  1173514  1173681  1174057  1174131  1174428  1175937  1176406  1176881
  1177027  1177399  1177512  1178580  1179818  1180194  1180523  1180831
  1181356  1182404  1182410  1183240  1183246  1183516  1183911  1183983
  1184184  1184241  1184840  1185609  1185610  1187457  1187805  1188472
  1189266  1189286  1190394  1190485  1192325  1193091  1193210  1193683
  1196295  1196915  1197080  1197270  1197440  1197510  1197979  1197993
  1198128  1198641  1199219  1199731  1199983  1200772  1200847  1200892
  1200952  1201834  1201936  1202125  1202812  1203096  1204242  1204898
  1205138  1205579  1206089  1206695  1206841  1207986  1208301  1210963
  1211202  1212232  1212251  1212422  1213375  1213383  1214092  1214556
  1214966  1216694  1216947  1217051  1217264  1218105  1218741  1218860
  1219406  1219525  1219859  1220330  1221863  1222047  1222936  1223282
  1223426  1223793  1223967  1224329  1225799  1226012  1226612  1227210
  1227244  1227481  1228152  1228311  1230175  1230688  1231387  1231706
  1232225  1236043  1241232  1241559  1241679  1242364  1243256  1270479
  1276091  1277018   128059  1285531  1287775   144888   145447   167528
   169356   183913   191250   242970   255644   263538   274137   303213
   314428   320675   324427   385103   390840   411453   428903   431495
   432809   434518   452264   456282   476903   486283   486662   488173
   492268   508234   527363   529329   535331   543558   555977   560680
   561477   563649   601265   606140   606722   616240    61634   625201
    63375   635844   636130   640744   646904   653777   659642   666090
   666942   667204   673637   684955   688033   691628   693702   704097
   704168   706426   709287   718641   721482   730881   733639   733823
   740492   743348   752904   756136   760001   760239    76389   764974
   770066   785208   785615   792744   797327   798429   806423   809912
   810104   814265   814911   822829   826923   830690   831268   832226
   832567   836433   837082   846832   850831   855524   857774   859164
   859350   866325   873549   877291   877943   888169   888523   896404
   897172    95719   160296   342245   428598   492561   493452   521441
   636437   640712   654244   657753   685977   805448   846423  1002504
  1022257  1026122  1071084  1080233  1114570  1116715  1131411  1151734
  1156017  1158405  1168278  1176187  1196263  1196475  1206314  1211265
  1213784  1223003  1223306  1223543  1229929  1231853  1234554  1236837
  1237674  1238021  1238464  1238633  1238915  1238948  1239232  1239347
  1239967  1240337  1253505  1255384  1257200  1257648  1257815  1257938
  1258549  1258556  1266154  1272039  1277629  1293439  1294562  1295186
   527337   558538   566509   608157   677910   734111   780555   827627
  1049837  1058849  1193544  1201870  1202253  1227081  1230994  1238410
  1246562  1257470  1259008  1266124  1267898  1268313  1268804  1280258
  1293966  1296572  1298416  1299596  1181685  1211594  1238777  1257608
  1269574  1277145  1287282  1296025  1296263  1296593  1299161  1301945
  1302428  1318169   474162   787451  1002025  1070522  1073960  1076352
  1084139  1119189  1133991  1142706  1155967  1170945  1181567  1204558
  1217952  1224565  1238186  1253917  1265899  1268766  1277268  1286943
  1295508  1297327  1297522  1298360  1299924  1299994  1304595  1306282
  1313325  1320077  1320304  1330439   333093   369565   412300   672113
   749653   769612   807657  8233704   837480   867392   869828  1043068
  1056171  1061990  1113061  1135090  1145420  1158157  1171578  1174841
  1184586  1186936  1197527  1222464  1240603  1241035  1287971  1289391
  1306339  1313658  1313982  1321264  1321321  1321348  1321931  1321942
  1328331  1328755  1331405  1331412  1333104  1334071  1343068  1343374
  1344121   142932   183936   324382   378275   690557   695091   695219
   824249   871549   878358  1107684  1115762  1217717  1239420  1254538
  1261751  1268275  1272166  1294261  1295529  1298484  1311875  1315506
  1320141  1325309  1333063  1333495  1334659  1336798  1344449  1350568
  1352663   188336   352431   353098   557583   636375   736150   803531
  1016634  1031608  1041043  1042252  1057067  1073836  1083817  1096352
  1140597  1149548  1174009  1183596  1190386  1190546  1213273  1218982
  1225382  1235807  1253955  1257366  1260659  1268952  1275807  1277792
  1285722  1288608  1290203  1294413  1303489  1311033  1311108  1315807
  1318671  1319609  1323477  1324572  1324681  1325159  1326892  1330361
  1333877  1334015  1334667  1339781 13454352  1345452  1345593  1347749
  1347943  1348851  1350319  1350423  1352848  1353092  1354840  1355260
  1365075  1365328  1368267  1368273  1368882  1369821  1371026  1371920
   466906   534555   536708   566346   603148   654546   714039   763235
   776715   841769   888820   897471]

Clump-Thickness
[ 5  3  6  4  8  1  2  7 10  9]

Uniformity-Cell-Size
[ 4  1  8 10  2  3  7  5  6  9]

Uniformity-Cell-Shape
[ 4  1  8 10  2  3  5  6  7  9]

Marginal-Adhesion
[ 5  1  3  8 10  4  6  2  9  7]

Single-Epithelial-Cell-Size
[ 7  2  3  1  6  4  5  8 10  9]

Bare-Nuclei
['10' '2' '4' '1' '3' '9' '7' '?' '5' '8' '6']

Bland Chromatin
[ 3  9  1  2  4  5  7  8  6 10]

Normal-Nucleoli
[ 2  1  7  4  5  3 10  6  9  8]

Mitoses
[ 1  5  4  2  3  7 10  8  6]

Class
[2 4]

id                             False
Clump-Thickness                False
Uniformity-Cell-Size           False
Uniformity-Cell-Shape          False
Marginal-Adhesion              False
Single-Epithelial-Cell-Size    False
Bare-Nuclei                     True
Bland Chromatin                False
Normal-Nucleoli                False
Mitoses                        False
Class                          False
dtype: bool

In [4]:
df[df['Bare-Nuclei']== '?']

,id,Clump-Thickness,Uniformity-Cell-Size,Uniformity-Cell-Shape,Marginal-Adhesion,Single-Epithelial-Cell-Size,Bare-Nuclei,Bland Chromatin,Normal-Nucleoli,Mitoses,Class
22,1057013,8,4,5,1,2,?,7,3,1,4
39,1096800,6,6,6,9,6,?,7,8,1,2
138,1183246,1,1,1,1,1,?,2,1,1,2
144,1184840,1,1,3,1,2,?,2,1,1,2
157,1193683,1,1,2,1,3,?,1,1,1,2
163,1197510,5,1,1,1,2,?,3,1,1,2
234,1241232,3,1,4,1,2,?,3,1,1,2
248,169356,3,1,1,1,2,?,3,1,1,2
274,432809,3,1,3,1,2,?,2,1,1,2
291,563649,8,8,8,1,2,?,6,10,1,4
293,606140,1,1,1,1,2,?,2,1,1,2
296,61634,5,4,3,1,2,?,2,3,1,2
314,704168,4,6,5,6,7,?,4,9,1,2
320,733639,3,1,1,1,2,?,3,1,1,2
410,1238464,1,1,1,1,1,?,2,1,1,2
616,1057067,1,1,1,1,1,?,1,1,1,2

In [5]:
df.replace('?', -99999, inplace=True)

In [6]:
df['Bare-Nuclei'] = df['Bare-Nuclei'].astype(str).astype(int)

In [7]:
X = np.array(df.drop(['id', 'Class'],1))
y = np.array(df['Class'])

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size= 0.2)

In [9]:
knn = neighbors.KNeighborsClassifier()
knn.fit(X_train,Y_train)
knn.score(X_test, Y_test)

0.9857142857142858

In [34]:
ex_predict = np.array([[3,1,1,1,2,1,3,1,1],[0,0,0,0,0,0,0,0,0],[3,1,1,1,2,1,3,1,1]])
print(ex_predict.shape, X_test.shape, X_train.shape)
print(knn.predict(ex_predict))

(3, 9) (140, 9) (558, 9)
[2 2 2]

In [15]:
X_test.shape

(140, 9)

In [11]:
df.dtypes

id                             int64
Clump-Thickness                int64
Uniformity-Cell-Size           int64
Uniformity-Cell-Shape          int64
Marginal-Adhesion              int64
Single-Epithelial-Cell-Size    int64
Bare-Nuclei                    int32
Bland Chromatin                int64
Normal-Nucleoli                int64
Mitoses                        int64
Class                          int64
dtype: object